<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>HomepageServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.chess.servlet.HomepageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.chess.servlet.MenuServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GameServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.chess.servlet.GameServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>UserStatsServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.chess.servlet.UserStatsServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>GameHistoryServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.chess.servlet.GameHistoryServlet</servlet-class>
  </servlet>

  <!-- Servlet mappings -->
  <servlet-mapping>
    <servlet-name>HomepageServlet</servlet-name>
    <url-pattern>/Homepage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/Menu</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>UserStatsServlet</servlet-name>
    <url-pattern>/Stats</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GameServlet</servlet-name>
    <url-pattern>/Game</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GameHistoryServlet</servlet-name>
    <url-pattern>/History</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>Homepage.html</welcome-file>
  </welcome-file-list>
</web-app>
